.moveCentre {

    /* background-color: rgb(180, 148, 79); */
    padding: 20px;
    margin: auto;
    width: 50%;
    height: 200px;
    width: 400px;
    /* background: black; */

    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
