.dashboardSearch {
    display: flex;
    width: 51%;
    border-radius: 8px;
    justify-content: space-around;
    flex-direction: row;
    background-color: #e4e4e4;
    position: relative;
    margin-top: 20%;
    margin-left: 10%;
  }
  .searchBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 2%;
  }
  .dashboardsearchicon {
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    padding-top: 8px;
  }